$blue: #1877F2;
$green: #42B72A;

@import "~bootstrap/scss/bootstrap";


body {
    min-height: 100vh;
    background: linear-gradient(
      203deg,
      rgba(32, 133, 192, 0.9) 0%,
      rgba(215, 220, 231, 0.9) 50%,
      rgba(223, 10, 10, 0.9) 100%
    );
}
